<div class="container-xl position-absolute top-50 start-50 translate-middle text-center">
  <p class="fs-3 text-secondary text-decoration-underline lh-1">Private Sales</p>
  <div class="row mb-4">
    <% for i in 0..4 %>
      <div class="col">
        <%= image_tag card_png(@game.private_sales[i]), class: "m-1", width: 180, style: "image-rendering: pixelated" %>
        <button role="button" class="btn btn-secondary btn-lg text-primary m-1 w-50" onclick=<%="handleClickBought(#{i+5})"%>>Buy</button>
      </div>
    <% end %>
  </div>
  <p class="fs-3 text-secondary text-decoration-underline lh-1">Public Sales</p>
  <div class="row mb-4">
    <% for i in 0..4 %>
      <div class="col">
        <%= image_tag card_png(@game.public_sales[i]), width: 180, class: "m-1", style: "image-rendering: pixelated" %>
        <button role="button" class="btn btn-secondary btn-lg text-primary m-1 w-50" onclick=<%="handleClickBought(#{i})"%>>Buy</button>
      </div>
    <% end %>
  </div>
  <p class="fs-3 text-secondary text-decoration-underline lh-1">Assets</p>
  <div class="row mb-4">
    <% for i in 0..4 %>
      <div class="col">
        <%= image_tag card_png(@game.assets[i]), width: 180, class: "m-1", style: "image-rendering: pixelated" %>
        <button role="button" class="btn btn-secondary btn-lg text-primary m-1 w-50" onclick=<%="handleClickSold(#{i})"%>>Spend</button>
      </div>
    <% end %>
  </div>
</div>