<div class="container-xl d-flex flex-column align-items-center">
  <%= image_tag "logo.png", width: "100%", class: "my-4", style: "image-rendering: pixelated" %>
  <%= button_to "New Game", games_path, method: :post, class: "btn btn-secondary btn-lg text-primary mb-4", style: "width: 600px" %>
  <span class="text-secondary fs-4 fst-italic mb-4">or</span>
  <%= form_with url: "/games", method: :get do |form| %>
    <div class="input-group" style="width: 600px">
      <span class="input-group-text text-primary text-bg-secondary">Game ID</span>
      <%= form.text_field :id, class: "form-control bg-light" %>
      <%= form.submit "Continue Game", class: "btn btn-secondary btn-lg text-primary btn-outline-secondary" %>
  <% end %>
</div>